__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3

venv/
.venv/
env/
ENV/
rhythmfall_server/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.egg
*.egg-info/
dist/
build/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
.dmypy.json

.DS_Store
Thumbs.db
desktop.ini

temp_uploads/
data/
songs/

.env
.env.*
*.secret
